<?xml version="1.0" encoding="utf-8"?>
<hibernate>
  <default_catalog />
  <default_schema>sysdba</default_schema>
  <strategy>standalone</strategy>
  <logfile>C:\TMP\Hibernate_log.txt</logfile>
  <loglevel>6</loglevel>
  <session_role>database_role</session_role>
  <database_use>use</database_use>
  <resources>
    <resource>detail_config.hbm.xml</resource>
    <resource>master_config.hbm.xml</resource>
    <resource>testnumber_config.hbm.xml</resource>
  </resources>
  <class>
    <name>Master</name>
    <table>MASTER</table>
    <discriminator>mas</discriminator>
    <attributes>
      <attribute name="id"          datatype="int" generator="true" isprimary="true"/>
      <attribute name="invoice"     datatype="int"/>
      <attribute name="description" datatype="string" maxlength="250"/>
      <attribute name="total"       datatype="bcd"/>
    </attributes>
    <identity name="pk_master">
      <attribute name="id" />
    </identity>
    <associations>
      <association name="DetailsOfMaster" type="one-to-many">
        <association_class>Detail</association_class>
        <attribute name="mast_id"></attribute>
      </association>
    </associations>
  </class>
  <class>
    <name>TestNumber</name>
    <table>TEST_NUMBER</table>
    <discriminator>tst</discriminator>
    <attributes>
      <attribute name="id" datatype="int" generator="true" isprimary="true"/>
      <attribute name="field1" datatype="int"/>
      <attribute name="field2" datatype="double"/>
      <attribute name="field3" datatype="bcd"/>
    </attributes>
    <identity name="pk_test_number">
      <attribute name="id" />
    </identity>
    <associations />
  </class>
  <class>
    <name>Detail</name>
	  <schema>sysdba</schema>
    <table>detail</table>
    <discriminator>det</discriminator>
    <attributes>
      <attribute name="id" datatype="int" isprimary="true"/>
      <attribute name="mast_id" datatype="int" isforeign="true"/>
      <attribute name="line" datatype="int"/>
      <attribute name="description" datatype="string" maxlength="250"/>
      <attribute name="amount" datatype="bcd"/>
    </attributes>
  	<identity name="pk_detail">
	    <attribute name="id" />
	  </identity>
    <associations>
	    <association name="MasterOfDetail" type="many-to-one">
	      <association_class>Master</association_class>
	        <attribute name="mast_id" />
	    </association>
    </associations>
    <indices>
      <index name="detail_line" unique="true" ascending="true">
        <attribute name="mast_id" />
        <attribute name="line" />
        <filter />
      </index>
    </indices>
    <generator name="detail_seq" start="1" />
    <access>
      <user name="public" rights="all" />
      <user name="pronto" rights="select" grantable="true" />
    </access>
  </class>
</hibernate>
