<?xml version="1.0" encoding="utf-8"?>
<hibernate>
  <default_catalog />
  <default_schema>sysdba</default_schema>
  <strategy>standalone</strategy>
  <session_role>database_role</session_role>
  <resources>
    <resource>detail_config.xml</resource>
    <resource>master_config.xml</resource>
    <resource>testnumber_config.xml</resource>
  </resources>
  <class>
    <name>Detail</name>
	  <schema>sysdba</schema>
    <table>detail</table>
    <attributes>
      <attribute name="id" datatype="int" primary="true"/>
      <attribute name="mast_id" datatype="int" foreign="true"/>
      <attribute name="line" datatype="int"/>
      <attribute name="description" datatype="string" maxlength="250"/>
      <attribute name="amount" datatype="bcd"/>
    </attributes>
  	<primarykey name="pk_detail">
	    <column name="id" />
	  </primarykey>
    <foreignkeys>
	    <foreign name="fk_detail_master">
	      <association_class>MASTER</association_class>
	        <column name="mast_id" />
	    </foreign>
    </foreignkeys>
    <indices>
      <index name="detail_line" unique="true" ascending="true">
        <attribute name="mast_id" />
        <attribute name="line" />"
        <filter />
      </index>
    </indices>
    <generator name="detail_seq" start="1" />
    <access>
      <user name="public" rights="all" />
      <user name="pronto" rights="select" />
    </access>
  </class>
  <class>
    <name>Master</name>
    <table>MASTER</table>
    <attributes>
      <attribute name="id" datatype="int" generator="true" primary="true"/>
      <attribute name="invoice" datatype="int"/>
      <attribute name="description" datatype="string" maxlength="250"/>
      <attribute name="total" datatype="bcd"/>
    </attributes>
	  <primarykey name="pk_master">
	    <column name="id" />
	  </primarykey>
    <foreignkeys />
  </class>
  <class>
    <name>TestNumber</name>
    <table>TEST_NUMBER</table>
    <attributes>
      <attribute name="id" datatype="int" generator="true" primary="true"/>
      <attribute name="field1" datatype="int"/>
      <attribute name="field2" datatype="double"/>
      <attribute name="field3" datatype="bcd"/>
    </attributes>
	  <primarykey name="pk_test_number">
	    <column name="id" />
	  </primarykey>
    <foreignkeys />
  </class>
</hibernate>
